/**************************tag selectors***************************************/
body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 5% auto 0 auto;
  font-family: 'Montez', cursive;
  font-size: 5rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  margin: auto;
  font-family: 'Philosopher', sans-serif;
}

/**************************class selectors***************************************/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #e9ea77;
}

.bottom-container {
  background-color: #0c9463;
}

.my-logo {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 6%;
  height: 11%;
}

.cloud-top {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 25%;
  height: 20%;
}

.cloud-bottom {
  position: absolute;
  right: 5%;
  top: 50%;
  width: 25%;
  height: 20%;
}

.mountin {
  margin: auto;
  width: 65%;
  height: 30%;
}

.intrudaction {
  margin: auto;
  width: 50%;
  line-height: 2;
  text-align: left;
}

.courses {
  padding: 20px;
  margin: auto;
  width: 50%;
  text-align: left;
}

.my-profile {
  margin: auto;
}
