/**************************tag selectors***************************************/
body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Montez', cursive;
  font-size: 5rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
font-weight: normal;
}

h3 {
  font-family: 'Philosopher', sans-serif;

}

/**************************class selectors***************************************/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  height: 500px;
}

.middle-container {
  background-color: #e9ea77;
  position: relative;
  height: 550px;
}

.bottom-container {
  background-color: #0c9463;
  height: 100px;
}

.my-logo {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 55px;
  height: 55px;
}

.cloud-top {
  top: 80px;
  position: absolute;
  left: 150px;
  width: 270px;
  height: 155px;
}

.cloud-bottom {
  position: absolute;
  right: 150px;
  top: 200px;
  width: 270px;
  height: 155px;
}

.mountin {
  position: absolute;
  right: 150px;
  bottom: 0px;
  width: 900px;
  height: 300px;
}
.intrudaction {

}
.courses {

}
.my-profile {

}
